<link href="/plugins/fullcalendar/core-4.3.1/main.min.css" rel="stylesheet">
<link href="/plugins/fullcalendar/daygrid-4.3.0/main.min.css" rel="stylesheet">

<div class="content-wrapper">
    <div class="content">
        {{!-- Add New Event --}}
        <div class="card card-default border-0 bg-transparent">
            <div class="card-header align-items-center p-0">
                <h2>Calendar</h2>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-event">
                    <i class="mdi mdi-plus mr-1"></i> Add New Event
                </button>
            </div>
        </div>

        <div class="card card-default">
            <div class="card-body p-0">
                <div class="full-calendar">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
        <!-- Add Event Modal  -->
        <div class="modal fade" id="modal-add-event" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <form action="/admin/addEvent" method="POST">
                        <div class="modal-body px-4">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" name="title" value="Meeting" required>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="dateRange">Date</label>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-1">
                                                    <i class="mdi mdi-calendar-range"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" name="dateRange" placeholder="Date"
                                                required />
                                        </div>
                                    </div>
                                </div>
                                {{!-- CHANGE THIS TO DIFF TIMES --}}
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="time">Time</label>
                                        <select class="form-control" name="time" required>
                                            <option>10:00am</option>
                                            <option>10:30am</option>
                                            <option>11:00am</option>
                                            <option>11:30am</option>
                                            <option>12:00pm</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-0">
                                <label for="description">Description</label>
                                <textarea class="form-control" name="description" rows="5"></textarea>
                            </div>
                        </div>

                        <div class="modal-footer border-top-0 px-4 pt-0">
                            <button type="submit" class="btn btn-primary btn-pill m-0">Create Event</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>


<script src="/plugins/fullcalendar/core-4.3.1/main.min.js"></script>
<script src="/plugins/fullcalendar/daygrid-4.3.0/main.min.js"></script>
<script src="/js/calendar.js"></script>