<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active"
                    style="background-image: url(kci-ss-assets/img/hero-carousel/womanCode.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="">KCI Software Solutions</h2>
                            <p class="">Creating Change Through Technology</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url(kci-ss-assets/img/hero-carousel/womenTech.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">KCI Software Solutions</h2>
                            <p class="animate__animated animate__fadeInUp">Breaking The Cycle Of Incarceration
                                Through Sofware Development</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item"
                    style="background-image: url(kci-ss-assets/img/hero-carousel/signUpCode.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">KCI Software Solutions</h2>
                            <p class="animate__animated animate__fadeInUp">Become A Part Of The Solution</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</section>
<!-- End Hero Section  -->

<main id="main">

    <!-- ======= Featured Services Section Section ======= -->
    <section id="featured-services">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 box mt-5">
                    <i class="bi bi-pc"></i>
                    <h4 class="title"><a href="">Web Development</a></h4>
                    <!-- <p class="description">As full-stack web developers we design, develop, and maintain dynamic web applications complete with database capabilities and intuitive user-interface designs.</p> -->
                </div>

                <div class="col-lg-4 box box-bg  mt-5">
                    <i class="bi bi-bar-chart"></i>
                    <h4 class="title"><a href="">ADA Compliance Conversion</a></h4>
                    <!-- <p class="description">We provide expert solutions for web accessibility and ADA compliance.</p> -->
                </div>

                <div class="col-lg-4 box mt-5">
                    <i class="bi bi-phone"></i>
                    <h4 class="title"><a href="">Mobile App Development</a></h4>
                    <!-- <p class="description">We are dedicated to developing mobile technology solutions that help
                            businesses and organizations of all shapes and sizes create strong, lasting connections
                            throughout their communities with highly configurable, cost-effective, responsive mobile
                            apps. </p> -->
                </div>

            </div>
        </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about">
        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h3>About Us</h3>
                <p class="mt-3">KCI Software Solutions is committed to breaking the cycle of incarceration through
                    software development and technical training.</p>
                <!-- Our team is made up of individuals that have completed an innovative technical workforce
                        development program that prepares incarcerated individuals for successful reentry through
                        business and technology training.  -->
            </header>

            <div class="row about-cols">
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="about-col">
                        <div class="img">
                            <!-- <img src="/kci-ss-assets/img/about-mission.jpg" alt="" class="img-fluid"> -->
                            <div class="icon"><i class="bi bi-flower2"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Mission</a></h2>
                        <p>
                            To provide individuals opportunities to develop highly marketable personal and
                            professional skills that are relevent and competitive in today's business environment.
                            <br>
                            <br>
                        </p>
                    </div>
                </div>

                <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="about-col">
                        <div class="img">
                            <!-- <img src="/kci-ss-assets/img/about-plan.jpg" alt="" class="img-fluid"> -->
                            <div class="icon"><i class="bi bi-brightness-high"></i></div>
                        </div>
                        <h2 class="title "><a href="#">Our Plan</a></h2>
                        <p>
                            To remain competitive in todays tech field we provide our team members the additional
                            exposure and resources needed to stay ahead in the rapidly changing technology field.
                            <br>
                            <br>
                        </p>
                    </div>
                </div>

                <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="about-col">
                        <div class="img">
                            <!-- <img src="/kci-ss-assets/img/about-vision.jpg" alt="" class="img-fluid"> -->
                            <div class="icon"><i class="bi bi-binoculars"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Vision</a></h2>
                        <p>
                            To expand our team of highly trained, motivated individuals through partnerships and
                            work opportunities in-turn providing team members opportunities to acheive success in
                            the tech field after their re-entry into the workforce.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Services Section ======= -->
    <section id="services">
        <div class="container" data-aos="fade-up">

            <header class="section-header wow fadeInUp">
                <h3>Services</h3>
                <p class="mt-3 mb-5">We provide a variety of custom services designed to integrate and develop
                    business strategies and goals.
                </p>
            </header>

            <div class="row">
                <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-pc"></i></div>
                    <h4 class="title"><a href="">Full-Stack Web Development</a></h4>
                    <p class="description">Upgrade or build from scratch, fully-functional web solutions.</p>
                </div>
                <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-phone"></i></div>
                    <h4 class="title"><a href="">Mobile Application Development</a></h4>
                    <p class="description">Transform lucrative ideas into original industry-specific mobile apps.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-bar-chart"></i></div>
                    <h4 class="title"><a href="">ADA Website Compliance Service</a></h4>
                    <p class="description">Optimize business and government websites to be ADA accessible and
                        legally compliant.</p>
                </div>
                <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-journal-code"></i></div>
                    <h4 class="title"><a href="">Custom Programming</a></h4>
                    <p class="description">Get the best solutions to satisfy your target user's needs.</p>
                </div>
                <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-hdd-network-fill"></i></div>
                    <h4 class="title"><a href="">Software Integration</a></h4>
                    <p class="description">Intergrate your companies apps, data and processes in the most efficient
                        way with KCI .</p>
                </div>
                <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bi bi-clipboard-check"></i></div>
                    <h4 class="title"><a href="">Quality Assurance</a></h4>
                    <p class="description">Let our team perform comprehensive, multi-stage testing and auditing
                        of your software.</p>
                </div>

            </div>

        </div>
    </section>

    <!-- ======= Skills Section ======= -->
    <section id="skills">
        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h3>Our Skills</h3>
                <p class="mt-3">Our team is proficient in a variety of programming languages and platforms.</p>
            </header>
            <div class="skills-content">
    </section>

    <!-- ======= Language Section ======= -->
    <section id="languages">
        <div class="container" data-aos="zoom-in">
            <div class="clients-slider swiper align-items-center">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide align-items-center" id="1"><img
                            src="/kci-ss-assets/img/programs/Bootstrap.png" class="img-fluid align-items-center" alt="">
                    </div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/CSS3.png"
                            class="img-fluid align-items-center" alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/Drupal.png"
                            class="img-fluid align-items-center" alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/gimp.png"
                            class="img-fluid align-items-center" . alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/Git.png"
                            class="img-fluid align-items-center" alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/HTML5.png"
                            class="img-fluid align-items-center" alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/JQuery.png"
                            class="img-fluid align-items-center" alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/js.png"
                            class="img-fluid align-items-center" alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/JSON.png"
                            class="img-fluid align-items-center" alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/MongoDB.png"
                            class="img-fluid align-items-center" alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/MySQL.png"
                            class="img-fluid align-items-center" alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/Node.png"
                            class="img-fluid align-items-center" alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/npm.png"
                            class="img-fluid align-items-center" alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/PHP.png"
                            class="img-fluid align-items-center" alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/Plone.png"
                            class="img-fluid align-items-center" alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/Python.png"
                            class="img-fluid align-items-center" alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/React.png"
                            class="img-fluid align-items-center" alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/VSC.png"
                            class="img-fluid align-items-center" alt=""></div>
                    <div class="swiper-slide align-items-center"><img src="/kci-ss-assets/img/programs/WordPress.png"
                            class="img-fluid align-items-center" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="section-bg">
        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h3 class="section-title mb-5">Our Portfolio</h3>
            </header>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="/kci-ss-assets/img/portfolio/kcipi.JPG" class="img-fluid" alt="">
                            <a href="/kci-ss-assets/img/portfolio/kcipi.JPG" class="link-preview portfolio-lightbox"
                                data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="portfolio-kci_pi_jobs.html">KCI PI Jobs</a></h4>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="/kci-ss-assets/img/portfolio/shop.JPG" class="img-fluid" alt="">
                            <a href="/kci-ss-assets/img/portfolio/shop.JPG" class="link-preview portfolio-lightbox"
                                data-gallery="portfolioGallery" title="KCI eCommerce"><i class="bi bi-plus"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="/softwareShop">KCI eCommerce</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="/kci-ss-assets/img/portfolio/KDOC-app/kdoc-app.png" class="img-fluid" alt="">
                            <a href="/kci-ss-assets/img/portfolio/KDOC-app/kdoc-app.png"
                                class="link-preview portfolio-lightbox" data-gallery="portfolioGallery"
                                title="Covid Q & A"><i class="bi bi-plus"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="/softwareFam">KDOC Family &amp; Friends</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h3>Contact Us</h3>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="bi bi-geo-alt"></i>
                        <h3>Address</h3>
                        <address>815 SE Rice Rd. Topeka, KS 66607</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="bi bi-phone"></i>
                        <h3>Phone Number</h3>
                        <p><a href="tel:9137273235">913.727.3235</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="bi bi-envelope"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:mark.daugherty@ks.gov">Mark Daugherty</a></p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main><!-- End #main -->