<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>KCI</title>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">
    <link href="/plugins/material/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="/plugins/simplebar/simplebar.css" rel="stylesheet" />

    <!-- PLUGINS CSS STYLE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css" />


    <!-- MONO CSS -->
    <link id="main-css-href" rel="stylesheet" href="/css/admin.css" />

    <!-- FAVICON -->
    <link href="/img/favicon/favicon.webp" rel="shortcut icon" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>

</head>


<body class="bg-light-gray" id="body">

    {{{body}}}



</body>

</html>