<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title id="title">KCI Software Solutions</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/../img/favicon/favicon.png" rel="icon" />
    <link href="/../img/favicon/app-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/kci-ss-assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/kci-ss-assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/kci-ss-assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/kci-ss-assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/kci-ss-assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/kci-ss-assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="/kci-ss-assets/css/style.css" rel="stylesheet">
    <link href="/../img/favicon/favicon.png" rel="icon" />

</head>

<body onload="onLoad()">

    <header id="header" class="fixed-top d-flex align-items-center header-transparent mb-2">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center mt-3">
                <div class="col-xl-11 d-flex align-items-center justify-content-between">
                    <h1 class="logo"><a href="/software">KCI Software Solutions</a></h1>
                    <nav id="navbar" class="navbar">
                        <ul>
                            <li><a class="nav-link scrollto" href="#about">About</a></li>
                            <li><a class="nav-link scrollto" href="#services">Services</a></li>
                            <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
                            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                            <li><a href="/">KCI Home</a></li>
                            <li><a href="/shop">KCI Shop</a></li>
                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav>
                </div>
            </div>

        </div>
    </header>

    {{{body}}}

    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 footer-info">
                        <h3>KCI Software Solutions</h3>
                        <p></p>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Site Links</h4>
                        <ul>

                            <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#services">Services</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/">KCI Home</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/shop">KCI Shop</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-contact">
                        <h4>Contact Us</h4>

                        <p><strong>Email:</strong><a href="mailto:mark.daugherty@ks.gov"> Mark Daugherty </a></p>


                        <div class="social-links">
                            <a href="https://twitter.com/KSCorrections" class="twitter"><i
                                    class="bi bi-twitter"></i></a>
                            <a href="https://www.facebook.com/KSCorrectionalIndustries/" class="facebook"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/kansas-correctional- industries/about/"
                                class="linkedin"><i class="bi bi-linkedin"></i></a>
                            <a href="https://www.youtube.com/channel/UC6h02jW25aCu6zNraysDBDg" class="youtube"><i
                                    class="bi bi-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                <strong>&copy; Kansas Correctional Industries</strong>
            </div>
            <div class="credits">
                Created by <a href="/software">KCI Software Solutions</a>
            </div>
        </div>

        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>



    <!-- Uncomment below i you want to use a preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="/kci-ss-assets/js/index.js"></script>
    <script src="/kci-ss-assets/vendor/purecounter/purecounter.js"></script>
    <script src="/kci-ss-assets/vendor/aos/aos.js"></script>
    <script src="/kci-ss-assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/kci-ss-assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/kci-ss-assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/kci-ss-assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/kci-ss-assets/vendor/waypoints/noframework.waypoints.js"></script>
    <!-- <script src="/kci-ss-assets/vendor/php-email-form/validate.js"></script> -->

    <!-- Template Main JS File -->
    <script src="/kci-ss-assets/js/main.js"></script>

</body>

</html>