<main class="main">
    <!-- Page Title -->
    <div class="page-title dark-background" style="
          background-image: url(/img/hero-carousel/hero-carousel-1.webp);
        ">
        <div class="container position-relative">
            <h1>About</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li class="current">About</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">
        <div class="container">
            <div class="row position-relative">
                <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img
                        src="/img/static/about.webp" />
                </div>

                <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                    <h2 class="inner-title">Impact Through Industry</h2>
                    <div class="our-story">
                        <h4>Est 1957</h4>
                        <h3>Our Story</h3>
                        <p>At Kansas Correctional Industries (KCI), our story is one of
                            transformation, opportunity, and community impact. Established
                            as a program within the Kansas Department of Corrections,
                            KCI's mission has always been to provide incarcerated
                            individuals with valuable work experience, helping them gain
                            the skills they need to successfully reenter society.</p>
                        <p>What started as a small initiative has grown into a
                            self-sustaining operation offering high-quality products and
                            services to state agencies, non-profits, schools, and other
                            eligible organizations. From furniture and textiles to metal
                            fabrication and printing, our diverse range of products is
                            crafted with care and purpose, all while creating
                            opportunities for personal growth and rehabilitation.</p>
                        <p>Every product we create has a story behind it—one that begins
                            with the hardworking men and women in our program, who are
                            dedicated to developing skills that will shape their futures.
                            Through KCI, residents are not just learning a trade; they are
                            rebuilding their lives, gaining confidence, and contributing
                            to their communities.</p>
                        <p>We're proud to be part of a program that not only produces
                            exceptional products but also empowers individuals,
                            strengthens the workforce, and makes a lasting difference in
                            the lives of those we serve. Our story is about growth,
                            opportunity, and the power of industry to change lives for the
                            better.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /About Section -->

    <!-- Stats Counter Section -->
    <section id="stats-counter" class="stats-counter section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Stats</h2>
            <p>Explore the impact of our work through key statistics that
                highlight our success in providing job training, reducing
                recidivism, and delivering high-quality products.</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row gy-4">
                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Happy Clients</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-bag-check color-orange flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="1250" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Products</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-briefcase color-green flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Partnering Companies</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-people color-pink flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="1300" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Hard Workers</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->
            </div>
        </div>
    </section><!-- /Stats Counter Section -->

    <!-- Alt Services Section -->
    <section id="alt-services" class="alt-services section">
        <div class="container">
            <div class="row justify-content-around gy-4">
                <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img
                        src="/img/static/serve.webp" alt="" /></div>

                <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <h3>Who We Serve</h3>
                    <p>Kansas Correctional Industries is authorized to provide
                        products and services exclusively to:</p>

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-shield flex-shrink-0"></i>
                        <div>
                            <h4><a href="" class="stretched-link">State of Kansas Employees &amp; Agencies</a></h4>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-patch-check flex-shrink-0"></i>
                        <div>
                            <h4><a href="" class="stretched-link">Non-Profits &amp; Government Agencies</a></h4>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="600">
                        <i class="bi bi-buildings flex-shrink-0"></i>
                        <div>
                            <h4><a href="" class="stretched-link">Cities &amp; Counties</a></h4>
                        </div>
                    </div><!-- End Icon Box -->
                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="600">
                        <i class="bi bi-building flex-shrink-0"></i>
                        <div>
                            <h4><a href="" class="stretched-link">Schools and Educational Institutions</a></h4>
                        </div>
                    </div><!-- End Icon Box -->
                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="600">
                        <i class="bi bi-people-fill flex-shrink-0"></i>
                        <div>
                            <h4><a href="" class="stretched-link">Churches and Religious Organizations</a></h4>
                        </div>
                    </div><!-- End Icon Box -->
                </div>
            </div>
        </div>
    </section><!-- /Alt Services Section -->

    <!-- Alt Services 2 Section -->
    <section id="alt-services-2" class="alt-services-2 section">
        <div class="container">
            <div class="row justify-content-around gy-4">
                <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1" data-aos="fade-up"
                    data-aos-delay="100">
                    <h3>Who We Benefit</h3>
                    <p>Kansas Correctional Industries benefits a wide range of
                        individuals and organizations, including incarcerated residents
                        gaining valuable work experience, state agencies, non-profits,
                        schools, and local businesses receiving high-quality,
                        cost-effective products. By supporting KCI, you contribute to a
                        stronger, safer community while helping individuals build a
                        foundation for successful reentry.</p>

                    <div class="row">
                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-bank flex-shrink-0"></i>
                            <div>
                                <h4>Private Companies</h4>
                                <p>Companies receive exceptional craftsmanship while
                                    supporting a program that builds a skilled workforce for
                                    the future.
                                </p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-people flex-shrink-0"></i>
                            <div>
                                <h4>KDOC Residents</h4>
                                <p>Through hands-on training in real-world industries,
                                    residents gain valuable skills, work experience, and a
                                    sense of purpose.
                                </p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-buildings flex-shrink-0"></i>
                            <div>
                                <h4>KDOC Facilities</h4>
                                <p>KCI programs provide structured, meaningful work that
                                    benefits correctional facilities by promoting
                                    responsibility, discipline, and rehabilitation.
                                </p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-building-fill flex-shrink-0"></i>
                            <div>
                                <h4>Local &amp; State Agencies</h4>
                                <p>KCI reduces taxpayer burdens by operating as a
                                    self-sustaining entity while lowering recidivism through
                                    workforce development.
                                </p>
                            </div>
                        </div><!-- End Icon Box -->
                    </div>
                </div>

                <div class="features-image col-lg-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
                    <img src="/img/static/companies-4.webp" alt="" />
                </div>
            </div>
        </div>
    </section><!-- /Alt Services 2 Section -->
</main>