<main class="main">
    <!-- Page Title -->
    <div class="page-title dark-background" style="
          background-image: url(/img/hero-carousel/hero-carousel-1.jpg);
        ">
        <div class="container position-relative">
            <h1>Services</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li class="current">Services</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section light-background">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Services</h2>
            <p>Kansas Correctional Industries offers high-quality products and
                services tailored to meet the needs of government agencies,
                non-profits, and other eligible organizations. From furniture and
                textiles to printing and metal fabrication, our skilled workforce
                delivers reliable solutions with purpose.</p>
        </div><!-- End Section Title -->

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fa-solid fa-fill-drip"></i>
                        </div>
                        <h3>Chemical</h3>
                        <p>Dish &amp; Laundry, Floor Care, General Cleaning, Soap &amp;
                            Handcare, Cleaning Equipment, Containers &amp; Accessories</p>
                        <a href="/serviceDetails?category=chemical" class="readmore stretched-link">See more <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fa-solid fa-chair"></i>
                        </div>
                        <h3>Seating</h3>
                        <p>Ergonomic, Executive &amp; Manager, Law Enforcement, Task,
                            Conference, Stacking, Nesting, Guest &amp; Lounge, Stools</p>
                        <a href="/serviceDetails?category=seating" class="readmore stretched-link">See more <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fa-solid fa-shirt"></i>
                        </div>
                        <h3>Clothing &amp; Textiles</h3>
                        <p>Shirts, Jackets &amp; Jeans, Boxers, Pillows, Toweling </p>
                        <a href="/serviceDetails?category=textiles" class="readmore stretched-link">See more
                            <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fa-solid fa-building"></i>
                        </div>
                        <h3>Furniture</h3>
                        <p>Desks, Tables, Bookshelves, Work Stations, Credenzas, Suites,
                            Lateral Files, Sit-Stand Desks</p>
                        <a href="/serviceDetails?category=furniture" class="readmore stretched-link">See more <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fa-solid fa-helmet-safety"></i>
                        </div>
                        <h3>Metal Products</h3>
                        <p>Grills, Kiosks, Detention &amp; Dormitory Furniture, Outdoor
                            Items, Fire Pits &amp; Rings, Custom Items &amp; Designs</p>
                        <a href="/serviceDetails?category=metal" class="readmore stretched-link">See more <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fa-solid fa-images"></i>
                        </div>
                        <h3>Signs &amp; Graphics</h3>
                        <p>Awards, Decals, Nameplates, ADA Signage, Street Markers,
                            Custom &amp; Neighborhood Signs, Wildlife &amp; Parks</p>
                        <a href="/serviceDetails?category=signs" class="readmore stretched-link">See more <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fa-solid fa-shop"></i>
                        </div>
                        <h3>Office Panel Systems</h3>
                        <p>Modular Office Systems, Ergonomic Work Areas, Panel Systems,
                            Custom Configurations</p>
                        <a href="/serviceDetails?category=office" class="readmore stretched-link">See more
                            <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fa-solid fa-network-wired"></i>
                        </div>
                        <h3>Software Solutions</h3>
                        <p>Custom Software Development, Data Management, Systems
                            Integration, Mobile Application Solutions</p>
                        <a href="/serviceDetails?category=software" class="readmore stretched-link">See more
                            <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->
            </div>
        </div>
    </section><!-- /Services Section -->
</main>